@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.HomeBanner {
  background: linear-gradient(
    75deg,
    #feddee 0%,
    #fcf6fc 31.77%,
    #c5eaed 64.58%,
    #fdddfe 100%
  );
  filter: blur(250px);
}

.CompanyCardBG{
  fill: var(--fs-search-banner-blue, #DDF3FF);
}


.textGradient {
  background: linear-gradient(91deg, #0076ce 26.63%, #9400d3 65.81%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
}

.paraStyle{
    color: #616161;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
}
